---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Energías Digital SPA."
  description="Instalación de telecomunicaciones, Corrientes débiles y seguridad electronica para grandes empresas, pequeñas empresas y particulares."
>
  <Carousel />
  <main>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </main>
</Layout>
